//-------------------------
//----------------VARIABLES
//-------------------------

//-----COLORS
$c-black           : #000;
$c-white           : #fff;
$c-mainBrown       : #3e2522;
$c-mainRed         : #c22320;
$c-mainYellow      : #edbe32;
$c-darkBrown       : #3a322c;
$c-textRed         : #ba2b31;
$c-darkYellow      : #e1ab24;
$c-infoRed         : #b7252e;



//-----PATHS
$localFontBase: "/savrsendan-dev/fonts/";
$imgBaseUrl   : "/images/";


//------DIMENSIONS
$baseFontSize: 10;
$fullWidth: 100%;
$fullHeight: 100%;

//------FONT
$fontDefault: Arial, Helvetica, Tahoma, sans-serif;
$baseFont: 'Raleway', sans-serif;
$bouncyFont: 'Bouncy';
$freehandFont: 'Frhnd575';




//------MEDIA QUERIES
$desktop--Large  : 1700px;
$desktop         : 1440px;
$tablet          : 860px;
$mobile			 : 767px;

